/* Contenedor principal */
.historial__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--azulOscuro);
  width: calc(100% - 200px); /* Ajusta según el ancho del navbar */
  min-height: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin-left: 200px; /* Ajusta según el ancho del navbar */
}

/* Imagen arriba del input */
.historial__imagen {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 1rem;
}

/* Título */
.historial__titulo {
  font-size: 2.5rem;
  color: var(--titulos);
  font-weight: 600;
  padding: 1rem;
  font-family: var(--montserrat);
  text-align: center;
}

/* Contenedor del formulario de búsqueda */
.historial__busqueda {
  margin-bottom: 2rem;
  text-align: center;
}

/* Estilo del botón de búsqueda */
.historial__btn {
  background-color: var(--azul-rey);
  color: var(--blancoA);
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--openSans);
}

/* Contenedor de la información de citas */
.historial__informacion {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
}

/* Contenedor de la lista de citas */
.historial__informacion-contenedor {
  width: 100%;
  padding: 1rem;
}

/* Elementos individuales de información */
.historial__informacion-detalle {
  background-color: var(--azul-claro);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Elementos dentro de la información */
.historial__item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

/* Etiquetas */
.historial__etiqueta {
  color: var(--navbar);
  font-size: 1.2rem;
  font-family: var(--openSans);
  font-weight: 600;
}

/* Datos */
.historial__dato {
  color: var(--gris);
  font-size: 1rem;
  font-family: var(--openSans);
  font-weight: 400;
}
