.personalDetalle__container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px); /* Ajusta según el ancho del navbar */
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 48px 30px; */
  background-color: var(--azulOscuro);
  margin-left: 200px; /* Ajusta según el ancho del navbar */
}
.personal__grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr; /* Divide el contenedor en dos columnas iguales */
  height: 100vh; /* Asegúrate de que el contenedor ocupe toda la altura de la ventana */
}

/* Estilos de la imagen */
.personalContenedorImg {
  display: flex;
  align-items: center; /* Centra verticalmente la imagen */
  justify-content: center; /* Centra horizontalmente la imagen */
  overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
}

.personalImagen {
  width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Asegúrate de que la imagen ocupe toda la altura del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
}
/* formulario */

/* From Uiverse.io by micaelgomestavares */
.personalDetalle__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 1080px;
  /* max-width: 350px; */

  padding: 32px;
  /* margin-top: 25px; */
  margin-bottom: 24px;
  border-radius: 20px;
  position: relative;
  /* top: 20px; */
}

.personalDetalle__title {
  font-family: var(--openSans);
  font-size: 32px;
  color: var(--azul-texto);
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.personalDetalle__subtitle {
  font-family: var(--openSans);
  font-size: 16px;
  color: var(--azul-texto);
  font-weight: 400;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
}

.personalDetalle__message {
  color: rgba(255, 253, 233, 0.873);
  font-size: 14px;
}

.personalDetalle__flex {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: space-between;
}

.personalDetalle__form label {
  position: relative;
}

.personalDetalle__form label .personalDetalle__input {
  /* max-width: 95%; */
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.personalDetalle__form label .personalDetalle__input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: negro;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.personalDetalle__form label .personalDetalle__input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.personalDetalle__form label .personalDetalle__input:focus + span,
.personalDetalle__form label .personalDetalle__input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.personalDetalle__form label .personalDetalle__input:valid + span {
  color: green;
}

/* estilos select  */
.personalDetalle__select-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  color: grey;
}
.personalDetalle__select {
  width: 100%;
  /* max-width: 90%; */
  padding: 10px;
  outline: none;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  color: grey;
}

/* personal container botones */

.personalDetalle__botones {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 12px 4px;
}
.personalDetalle__submit {
  border: none;
  outline: none;
  background-color: var(--success-color);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  width: 100%;
}

.personalDetalle__submit:hover {
  background-color: var(--blanco);
  color: var(--success-color);
  border: 1px solid var(--success-color);
  cursor: pointer;
}

.personalDetalle__cancel {
  border: none;
  outline: none;
  background-color: var(--warning-color);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  width: 100%;
}
.personalDetalle__cancel:hover {
  background-color: var(--blanco);
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
  cursor: pointer;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.avisoDetalle {
  color: var(--azul-texto);
  font-weight: 300;
  font-size: 20px;
}
.avisoDetalle--msg {
  color: var(--blanco);
  font-size: 16px;
  font-weight: 200;
}
.avisoDetalle--label {
  color: var(--blanco);
  font-size: 20px;
  font-weight: 300;
}
.avisoAlert {
  color: var(--warning-color);
  text-transform: uppercase;
  font-style: bold;
}
.usuario-btn--contenedor {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.personalDetalle__message--usuario {
  color: rgba(255, 255, 255, 0.873);
  font-size: 14px;
  text-align: start;
  width: 60%;
  font-family: var(--openSans);
}
